services:
  tradingbot:
    build: .
    container_name: intraday_options_bot_angel
    env_file: .env
    volumes:
      - ./logs:/app/logs
      - ./audit:/app/audit
    restart: "no"         # <-- correct for your setup
